<h1>Hello from handlebars!</h1>

<ul>
    <li>Harry: {{harrytest}}</li>
    <li>Pokemon: {{pokemontest}}</li>
    <li>SWAPI: {{swapitest}}</li>
</ul>

<form action="/" method="post">
    <label for="harry">Harry:</label>
    <input type="text" name="harry">
    <br>
    <label for="pokemon">Pokemon:</label>
    <input type="text" name="pokemon">

    <br>
    <label for="swapi">Swapi:</label>
    <input type="text" name="swapi">
    <br>
    <input type="submit" value="submit">
</form>